* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: black;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    padding: 10px 20px;
}

#barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 75px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.4); 
}

#itenstopo {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    flex: 1; 
    justify-content: center;
}

#itenstopo li {
    display: inline-block;
    margin-left: 30px;
    color: white;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

#itenstopo li:hover {
    background-color: #9e0000;
    border-radius: 5px;
    padding: 15px;
    transform: scale(1.1);
}

.menu-hamburger {
    display: none;
}

.hamburger {
    outline: none;
}

.nav-list {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
}

.nav-list.active {
    display: block;
}

.nav-item {
    margin: 20px 0;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-item a:hover {
    background-color: #555;
    border-radius: 5px;
    transform: scale(1.1);
}

main {
    flex: 1;
}

#quem-somos {
    padding: 50px 20px;
    background-color: #222;
    text-align: center;
}

#quem-somos h1 {
    font-family: 'Georgia', serif;
    font-size: 3em;
    color: #9e0000;
    margin-bottom: 20px;
}

#quem-somos p {
    font-family: 'Times New Roman', serif;
    font-size: 1.2em;
    line-height: 1.8;
    margin: 0 auto;
    max-width: 800px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.grid-item {
    position: relative;
    background-color: #333;
    padding: 40px 20px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.grid-item h2 {
    font-family: 'Georgia', serif;
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 10px;
}

.grid-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 10px;
}

.grid-item:hover .overlay {
    opacity: 1;
}

.grid-item:hover {
    transform: scale(1.05);
    background-color: #444;
}

.overlay p, .overlay ul, .overlay blockquote {
    font-family: 'Times New Roman', serif;
    font-size: 1.2em;
}

.overlay cite {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #ccc;
}

#slideshow {
    position: relative;
    max-width: 1000px;
    margin: 50px auto;
    border: 3px solid #9e0000;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0 0 20px 5px rgba(158, 0, 0, 0.7);
}

.slide {
    display: none;
    text-align: center;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.slide.active {
    display: block;
}

.footer-destaque {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

@media (max-width: 768px) {
    .menu-hamburger {
        display: block;
    }

    #itenstopo {
        display: none;
    }

    .hamburger.is-active + .nav-list {
        display: block;
    }
}

#itenstopo li a {
    color: white;
}


.footer-destaque {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.footer-destaque h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.footer-destaque h5::before {
    content: "© ";
    font-size: 18px;
}